.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  
@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }
.node-shortest-path {
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
  
@keyframes shortestPath {
0% {
  transform: scale(0.6);
  background-color: rgb(255, 236, 66);
}

50% {
  transform: scale(1.2);
  background-color: rgb(255, 232, 29);
}

100% {
  transform: scale(1);
  background-color: rgb(255, 230, 0);
}
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 32, 61, 0.692);
    border-radius: 35%;
  }

  50% {
    background-color: rgba(0, 182, 136, 0.836);
    border-radius: 30%;
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 155, 26, 0.849);
    border-radius: 25%;
  }

  100% {
    transform: scale(1);
    background-color: rgba(2, 8, 34, 0.849);
    border-radius: 20%;
  }
}